html, body, ul, li, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

html, body {
  position: relative;
  height: 100%;
  overflow: hidden; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

#canvas {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/b.png) no-repeat;
  background-size: 100% 100%; }

#loading {
  position: absolute;
  z-index: 3;
  background: #fff;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  #loading ul {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden; }
    #loading ul li {
      list-style: none;
      width: .05rem;
      height: 0.4rem;
      margin-right: .1rem;
      background: #0f0;
      float: left;
      -webkit-animation: 2s linear infinite loadingMove;
      -o-animation: 2s linear infinite loadingMove;
      -moz-animation: 2s linear infinite loadingMove;
      -ms-animation: 2s linear infinite loadingMove;
      animation: 2s linear infinite loadingMove; }
    #loading ul li:nth-child(1) {
      -webkit-animation-delay: 0s;
      -o-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -ms-animation-delay: 0s;
      animation-delay: 0s; }
    #loading ul li:nth-child(2) {
      -webkit-animation-delay: -0.2s;
      -o-animation-delay: -0.2s;
      -moz-animation-delay: -0.2s;
      -ms-animation-delay: -0.2s;
      animation-delay: -0.2s; }
    #loading ul li:nth-child(3) {
      -webkit-animation-delay: -0.4s;
      -o-animation-delay: -0.4s;
      -moz-animation-delay: -0.4s;
      -ms-animation-delay: -0.4s;
      animation-delay: -0.4s; }
    #loading ul li:nth-child(4) {
      -webkit-animation-delay: -0.6s;
      -o-animation-delay: -0.6s;
      -moz-animation-delay: -0.6s;
      -ms-animation-delay: -0.6s;
      animation-delay: -0.6s; }
    #loading ul li:nth-child(5) {
      -webkit-animation-delay: -0.8s;
      -o-animation-delay: -0.8s;
      -moz-animation-delay: -0.8s;
      -ms-animation-delay: -0.8s;
      animation-delay: -0.8s; }
    #loading ul li:nth-child(6) {
      -webkit-animation-delay: -1s;
      -o-animation-delay: -1s;
      -moz-animation-delay: -1s;
      -ms-animation-delay: -1s;
      animation-delay: -1s; }
  #loading p {
    font-size: .3rem;
    color: #0f0;
    top: 60%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap; }

@keyframes loadingMove {
  0% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2); }
  100% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes loadingMove {
  0% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2); }
  100% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-moz-keyframes loadingMove {
  0% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2); }
  100% {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

.swiper-wrapper #page1 {
  background: url(../img/b.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page2 {
  background: url(../img/c.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page3 {
  background: url(../img/d.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page4 {
  background: url(../img/e.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page5 {
  background: url(../img/ad1.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page6 {
  background: url(../img/ad2.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page7 {
  background: url(../img/ad3.png) no-repeat center;
  background-size: auto 100%; }

.swiper-wrapper #page8 {
  background: url(../img/ad4.png) no-repeat center;
  background-size: auto 100%; }

#arrow {
  z-index: 2;
  position: absolute;
  width: .9rem;
  height: .52rem;
  background: url(../img/arr.png) no-repeat;
  background-size: cover;
  bottom: .35rem;
  left: 50%;
  margin-left: -0.45rem; }

.fadeInUp {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.page1 {
  font-size: .3rem;
  color: #FFFFFF;
  position: absolute;
  text-align: left;
  top: 65%;
  left: 20%; }
  .page1 li:nth-child(1), .page1 li:nth-child(3) {
    -webkit-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%); }
  .page1 li:nth-child(2), .page1 li:nth-child(4) {
    -webkit-transform: translateX(200%);
    -o-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%); }

.swiper-slide-active .page1 li {
  -webkit-animation: anip1 1s forwards linear;
  -o-animation: anip1 1s forwards linear;
  -moz-animation: anip1 1s forwards linear;
  -ms-animation: anip1 1s forwards linear;
  animation: anip1 1s forwards linear; }

@keyframes anip1 {
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes anip1 {
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-moz-keyframes anip1 {
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.page2 li {
  width: .9rem;
  height: .9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -.45rem; }

.page2 li:nth-child(1) {
  background: url(../img/c1.png) no-repeat;
  background-size: cover; }

.page2 li:nth-child(2) {
  background: url(../img/c2.png) no-repeat;
  background-size: cover; }

.page2 li:nth-child(3) {
  background: url(../img/c3.png) no-repeat;
  background-size: cover; }

.page2 li:nth-child(4) {
  background: url(../img/c4.png) no-repeat;
  background-size: cover; }

.page2 li:nth-child(5) {
  background: url(../img/c5.png) no-repeat;
  background-size: cover; }

.page2 li:nth-child(6) {
  background: url(../img/c6.png) no-repeat;
  background-size: cover; }

.swiper-slide-active .page2 li:nth-child(1) {
  -webkit-animation: ani1 1s forwards;
  -o-animation: ani1 1s forwards;
  -moz-animation: ani1 1s forwards;
  -ms-animation: ani1 1s forwards;
  animation: ani1 1s forwards; }

.swiper-slide-active .page2 li:nth-child(2) {
  -webkit-animation: ani2 1s forwards;
  -o-animation: ani2 1s forwards;
  -moz-animation: ani2 1s forwards;
  -ms-animation: ani2 1s forwards;
  animation: ani2 1s forwards; }

.swiper-slide-active .page2 li:nth-child(3) {
  -webkit-animation: ani3 1s forwards;
  -o-animation: ani3 1s forwards;
  -moz-animation: ani3 1s forwards;
  -ms-animation: ani3 1s forwards;
  animation: ani3 1s forwards; }

.swiper-slide-active .page2 li:nth-child(4) {
  -webkit-animation: ani4 1s forwards;
  -o-animation: ani4 1s forwards;
  -moz-animation: ani4 1s forwards;
  -ms-animation: ani4 1s forwards;
  animation: ani4 1s forwards; }

.swiper-slide-active .page2 li:nth-child(5) {
  -webkit-animation: ani5 1s forwards;
  -o-animation: ani5 1s forwards;
  -moz-animation: ani5 1s forwards;
  -ms-animation: ani5 1s forwards;
  animation: ani5 1s forwards; }

.swiper-slide-active .page2 li:nth-child(6) {
  -webkit-animation: ani6 1s forwards;
  -o-animation: ani6 1s forwards;
  -moz-animation: ani6 1s forwards;
  -ms-animation: ani6 1s forwards;
  animation: ani6 1s forwards; }

@keyframes ani1 {
  100% {
    top: 30%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani1 {
  100% {
    top: 30%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani1 {
  100% {
    top: 30%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@keyframes ani2 {
  100% {
    left: 20%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani2 {
  100% {
    left: 20%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani2 {
  100% {
    left: 20%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@keyframes ani3 {
  100% {
    left: 80%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani3 {
  100% {
    left: 80%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani3 {
  100% {
    left: 80%;
    top: 40%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@keyframes ani4 {
  100% {
    left: 20%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani4 {
  100% {
    left: 20%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani4 {
  100% {
    left: 20%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@keyframes ani5 {
  100% {
    left: 80%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani5 {
  100% {
    left: 80%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani5 {
  100% {
    left: 80%;
    top: 60%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@keyframes ani6 {
  100% {
    top: 75%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-webkit-keyframes ani6 {
  100% {
    top: 75%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

@-moz-keyframes ani6 {
  100% {
    top: 75%;
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }

.page3 {
  background: url(../img/d1.png) no-repeat;
  width: 4.6rem;
  height: 2.22rem;
  position: absolute;
  left: 50%;
  margin-left: -2.3rem;
  bottom: 2rem;
  background-size: cover; }

.swiper-slide-active .page3 {
  -webkit-transform: rotateY(720deg);
  -o-transform: rotateY(720deg);
  -moz-transform: rotateY(720deg);
  -ms-transform: rotateY(720deg);
  transform: rotateY(720deg);
  transition: 2s all; }

.page4 li {
  color: white;
  font-size: .22rem;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
  word-wrap: break-word;
  position: absolute;
  overflow: hidden;
  padding: .05rem;
  box-sizing: border-box;
  text-align: left; }

.page4 li:nth-child(1) {
  left: 4%;
  top: 14%;
  width: 0;
  height: 0; }

.page4 li:nth-child(2) {
  left: 50%;
  top: 18%;
  width: 0;
  height: 0; }

.page4 li:nth-child(3) {
  left: 76%;
  top: 39%;
  width: 0;
  height: 0; }

.swiper-slide-active .page4 li:nth-child(1) {
  -webkit-animation: p41 1s forwards;
  -o-animation: p41 1s forwards;
  -moz-animation: p41 1s forwards;
  -ms-animation: p41 1s forwards;
  animation: p41 1s forwards; }

.swiper-slide-active .page4 li:nth-child(2) {
  -webkit-animation: p42 1s forwards;
  -o-animation: p42 1s forwards;
  -moz-animation: p42 1s forwards;
  -ms-animation: p42 1s forwards;
  animation: p42 1s forwards; }

.swiper-slide-active .page4 li:nth-child(3) {
  -webkit-animation: p43 1s forwards;
  -o-animation: p43 1s forwards;
  -moz-animation: p43 1s forwards;
  -ms-animation: p43 1s forwards;
  animation: p43 1s forwards; }

@keyframes p41 {
  100% {
    width: 2rem;
    height: 2.5rem; } }

@-webkit-keyframes p41 {
  100% {
    width: 2rem;
    height: 2.5rem; } }

@-moz-keyframes p41 {
  100% {
    width: 2rem;
    height: 2.5rem; } }

@-ms-keyframes p41 {
  100% {
    width: 2rem;
    height: 2.5rem; } }

@-o-keyframes p41 {
  100% {
    width: 2rem;
    height: 2.5rem; } }

@keyframes p42 {
  100% {
    width: 2.8rem;
    height: 1.6rem; } }

@-ms-keyframes p42 {
  100% {
    width: 2.8rem;
    height: 1.6rem; } }

@-o-keyframes p42 {
  100% {
    width: 2.8rem;
    height: 1.6rem; } }

@-moz-keyframes p42 {
  100% {
    width: 2.8rem;
    height: 1.6rem; } }

@-webkit-keyframes p42 {
  100% {
    width: 2.8rem;
    height: 1.6rem; } }

@keyframes p43 {
  100% {
    width: 1.1rem;
    height: 2.9rem; } }

@-o-keyframes p43 {
  100% {
    width: 1.1rem;
    height: 2.9rem; } }

@-ms-keyframes p43 {
  100% {
    width: 1.1rem;
    height: 2.9rem; } }

@-moz-keyframes p43 {
  100% {
    width: 1.1rem;
    height: 2.9rem; } }

@-webkit-keyframes p43 {
  100% {
    width: 1.1rem;
    height: 2.9rem; } }

#music {
  position: absolute;
  width: .7rem;
  height: .7rem;
  background: url(../img/music.png) no-repeat;
  background-size: cover;
  top: .2rem;
  right: .2rem;
  z-index: 2;
  -webkit-animation: music 1s linear infinite;
  -o-animation: music 1s linear infinite;
  -moz-animation: music 1s linear infinite;
  -ms-animation: music 1s linear infinite;
  animation: music 1s linear infinite;
  -webkit-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running; }

@keyframes music {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes music {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes music {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes music {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes music {
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.paused {
  -webkit-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -ms-animation-play-state: paused !important;
  animation-play-state: paused !important; }
